@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --dark-theme-background: #010101;
    --light-color: #f4f4f4;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    padding: 15px 0 0 0;
}

img {
    width: 100%;
}

.light-theme {
    background-color: var(--primary-color);
    color: #fff;
}

.dark-theme {
    background-color: var(--dark-theme-background);
    color: #fff;
}

.sec-light-theme {
    background-color:#fff;
    color: #333
}

.sec-dark-theme {
    background-color: #333;
    color: #fff;
}

/* NAVBAR */
.navbar {
    height: 6rem;
    overflow: visible;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 10px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    justify-content: space-between;
}

#theme-toggle {
    font-size: 1.25rem;
    padding: 5px;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    overflow: visible;
}

#theme-toggle::after {
    font-size: 0.75rem;
    content: attr(aria-label);
    position:absolute;
    width: max-content;
    border-radius: 5px;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0 auto;
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    transition: transform 150ms linear, opacity 150ms linear;
}

#theme-toggle:hover {
    background: hsl(0 0% 20% / 0.4);
}

#theme-toggle:hover::after {
    opacity: 0.7;
    transform: scale(1);
}

.rotate {
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.rotate.down {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg)
}

/* SHOWCASE */
.showcase {
    height: 650px;
    position: relative;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 40px;
}

.showcase-text h2{
    font-size: 3.2rem;
}

.showcase-text p{
    font-size: 3rem;
}

.showcase-text span {
    color: #eee;
    font-weight: bold;
}

.showcase-form {
    position: relative;
    min-height: 350px;
    width: 300px;
    padding: 40px;
    z-index: 100;
    visibility:visible;
}

.showcase-form .form-control {
    padding: 20px 0 0 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    font-size: 1rem;
}

.showcase-form textarea {
    border: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-family: 'Lato' sans-serif;
    font-size: 1rem;
}

.showcase-form input:focus {
    outline: none;
}

/* TOOLS */
.tools {
    height: 100%;
}

.tools .flex {
    flex-wrap: wrap;
}

.tools .card {
    height: 200px;
    width: 150px;
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;
}

.tools .card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.tools .card:hover {
    transform: translateY(-15px);
}

/* SPACER */
.spacer {
    min-height: 10rem;
}

/* FOOTER */
.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 10rem;
    color: #fff;
    padding: 10px 0px;
}

.footer a {
    color: #fff;
    padding: 10px;
}

/* PROJECTS */
.projects-head {
    min-height: 400px;
}

.projects-head i {
    text-align: right;
}

.projects-sub-head img {
    width:300px;
    justify-self: flex-end;
}

/* UTILITIES */


.container {
    max-width: 75vw;
    margin: 0 auto;
    padding: 10px 0;
}

.card {
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    padding: 20px;
    margin: 10px;;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    border: 1px #fff solid;
}

.btn:hover {
    transform: scale(0.98);
}

/* BACKGROUNDS & COLORED BUTTONS */
.bg-primary, .btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.bg-secondary, .btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-dark, .btn-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-light, .btn-light {
    background-color: var(--light-color);
    color: #333;
}

.bg-primary a, .btn-primary a,
.bg-secondary a, .btn-secondary a,
.bg-dark a, .btn-dark a {
    color: #fff;
}

/* TEXT SIZES & SETTINGS */
.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-3-center {
    display:flex;
    align-items: center;
    justify-content: center;
}

.grid-3-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

/* MARGIN */

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 2rem 0;
}

.my-4 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-4 {
    margin: 4rem;
}

/* PADDING */

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-4 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-4 {
    padding: 4rem;
}

/* TABLETS AND UNDER */
@media(max-width: 768px) {
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    
    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
    }

    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .container {
        max-width: 90vw;
    }
}


/* MOBILE */
@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
    }

    .spacer {
        min-height: 15rem;
    }

    .footer {
        text-align: center;
    }

    .footer .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .footer .grid-3-right {
        justify-content: center;
    }
}